body {
    margin: 0;
    padding: 0;
}

.userLIST {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid darkviolet;
    background: rgba(0, 0, 0, 0.06);
}

.user-1 , .user-2, .user-3, .user-4, .user-5, .user-6, .user-7,.user-8, .user-9, .user-10 {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    height: 100px;
    margin: 20px 255px;
    background: rgba(0, 0, 0, 0.48);
}

.userID, .userNAME {
    padding: 5px;
    font-size: 24px;
    font-style: italic;
}
.userID{
    padding-left: 5px;
}
.userNAME{
    margin-left: 10px;
}

.btnELEMENT {
    width: 200px;
    height: 50px;
    font-style: italic;
    cursor: pointer;
    position: relative;
    left: 40px;
}

